@font-face {
	font-family: 'OpenSans';
	src: url('font/OpenSans.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	
	font-family: 'OpenSans-Semibold';
	src: url('font/OpenSans-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	
	font-family: 'OpenSans Bold';
	src: url('font/OpenSans Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

html,body,ul,li,a {
	outline: 0px;
	border: 0px;
	margin: 0px;
	padding: 0px;
	color: #888;
	font-size: 12px;
	list-style: none;
	text-align: center;
	text-decoration: none;
	background-color: #fff;
	font-family: OpenSans, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}
.resume_div{width:1013px;margin:auto;min-height:500px;height:auto;padding:0;background-color:transparent;}
.resume_container_div{width:570px;margin:auto;min-height:460px;height:auto;padding:10px;background-color:#ddd;float:left;}
.inner_resume_container{width:570px;margin:auto;min-height:460px;height:auto;padding:0;background-color:#fff;float:left;}
.inner_resume_container h2{text-align:left;color:#f5535d;margin:5px;padding:5px;border-bottom:1px dashed #ddd;}
.rich_text_box{width:560px;margin:auto;height:auto;padding:5px;background-color:transparent;float:left;}
.rich_text_box textarea{float:left;resize:none;border:1px solid #ddd;border-radius:3px;}
.button_area{width:auto;margin:auto;height:30px;padding:5px;background-color:transparent;float:right;border:0px solid #000;}
.button_area_left{width:auto;margin:auto;height:30px;padding:5px;background-color:transparent;float:left;border:0px solid #000;}
.grid_button{padding:5px 10px;
background: #E3E4E4;
	background: -moz-linear-gradient(top, white 0, #E3E3E3 100%);
	background: -webkit-linear-gradient(top, white 0, #E3E3E3 100%);
	background: -o-linear-gradient(top, white 0, #E3E3E3 100%);
	background: -ms-linear-gradient(top, white 0, #E3E3E3 100%);
	background: linear-gradient(to bottom, white 0, #E3E3E3 100%);
	border:1px solid #eee;border-radius:5px;color:#888;
}
.text_feld{padding:3px 5px; border:1px solid #ddd; background-color:#fafafa;width:225px;margin-bottom:10px;}
.grid_button:hover{padding:
background: #E3E4E4;
	background: -moz-linear-gradient(top, #E3E3E3 0, white 100%);
	background: -webkit-linear-gradient(top, #E3E3E3 0, white 100%);
	background: -o-linear-gradient(top, #E3E3E3 0, white 100%);
	background: -ms-linear-gradient(top, #E3E3E3 0, white 100%);
	background: linear-gradient(top, #E3E3E3 0, white 100%);
	border:1px solid #eee;border-radius:5px;color:#888;}
#nt_bt{width:16px; height:16px;background-image: url(../images/ui-icons_256x240.png);background-position:left;background-position: -33px -50px;}
#sk_bt{width:16px; height:16px;background-image: url(../images/ui-icons_256x240.png);background-position:left;background-position:-65px -161px;}
#sv_bt{width:16px; height:16px;background-image: url(../images/ui-icons_256x240.png);background-position:left;background-position: -96px -113px;}
#dt_bt{width:16px; height:16px;background-image: url(../images/ui-icons_256x240.png);background-position:left;background-position: -180px -98px;}
#add_bt{width:16px; height:16px;background-image: url(../images/ui-icons_256x240.png);background-position:left;background-position: -35px -129px;}
.rich_text_box{text-align:left;}
.rich_text_box label{padding-left:3px;}
.button_area{text-align:right;}
.button_area a{float:right;margin-left:5px;}
.input_text_feild{text-align:left;padding:3px 8px;}
.rich_text_box table th{text-align:center; vertical-align:middle;font-size:11px;color:#fff;background-color:#f5535b;border:1px solid ba181e;padding:3px;}
.rich_text_box table td{text-align:left; vertical-align:middle;font-size:10px;color:#888;background-color:#fafafa;border:1px solid #ddd;padding:3px;height:20px;}
.input_text_feild_left{width:226px;margin:0;height:auto;padding:0;background-color:transparent;float:left;}
.input_text_feild_right{width:226px;margin:0;height:auto;padding:0;background-color:transparent;float:right;text-align:left;}
.input_text_feild label{padding:0px;}
.gap_span{height:10px;width:100%;}

